<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcwk.ehr.mapper.AdminMapper">
      
	<resultMap id="reportMap" type="com.pcwk.ehr.report.domain.ReportVO">
	    <id property="reportSid" column="REPORT_SID" />
	    <result property="reportCategory" column="REPORT_CATEGORY" />
	    <result property="reportContent" column="REPORT_CONTENT" />
	    <result property="regId" column="REG_ID" />
	    <result property="diarySid" column="DIARY_SID" />
	    <result property="commentSid" column="COMMENT_SID" /> 
	    <result property="famousSid" column="FAMOUS_SID" />
	    <result property="diaryContent" column="DIARY_CONTENT" />
	</resultMap>
	
	<select id="doRetrieveReportList" parameterType="com.pcwk.ehr.cmn.DTO" resultMap="reportMap">
	    SELECT * FROM (
	        SELECT ROWNUM AS rnum, A.* FROM (
	            SELECT
	                r.report_sid      AS REPORT_SID,
	                r.report_category AS REPORT_CATEGORY,
	                r.report_content  AS REPORT_CONTENT,
	                r.reg_id          AS REG_ID,
	                r.comment_sid     AS COMMENT_SID,
	                
	                -- [보정 1] 명언 댓글 신고일 경우를 대비해 FAMOUS_SID도 댓글 테이블에서 조회해옵니다.
	                NVL(r.famous_sid, (SELECT c.famous_sid FROM COMMENTS c WHERE c.comment_sid = r.comment_sid)) AS FAMOUS_SID,
	                
	                -- [보정 2] 일기 댓글 신고일 경우를 대비해 DIARY_SID를 확실히 가져옵니다.
	                NVL(r.diary_sid, (SELECT c.diary_sid FROM COMMENTS c WHERE c.comment_sid = r.comment_sid)) AS DIARY_SID,
	                
	                CASE 
	                    WHEN r.comment_sid IS NOT NULL 
	                    THEN (SELECT CAST(c.COMMENT_CONTENT AS VARCHAR2(4000)) FROM COMMENTS c WHERE c.comment_sid = r.comment_sid)
	                    ELSE TO_CHAR(SUBSTR(d.diary_content, 1, 4000)) 
	                END AS DIARY_CONTENT
	            FROM report r 
	            LEFT JOIN diary d ON r.diary_sid = d.diary_sid
	            WHERE 1=1
	            ORDER BY r.report_sid DESC
	        ) A 
	        WHERE ROWNUM <![CDATA[ <= ]]> (#{pageNo} * #{pageSize})
	    ) 
	    WHERE rnum <![CDATA[ > ]]> ((#{pageNo} - 1) * #{pageSize})
	</select>
    <select id="getReportTotalCount" parameterType="com.pcwk.ehr.cmn.DTO" resultType="int">
        SELECT COUNT(*) FROM report r LEFT JOIN diary d ON r.diary_sid = d.diary_sid
        WHERE 1=1
        <if test="searchWord != null and searchWord != ''">
            <choose>
                <when test="searchDiv == '10'"> AND r.report_content LIKE '%' || #{searchWord} || '%' </when>
                <when test="searchDiv == '20'"> AND r.reg_id LIKE '%' || #{searchWord} || '%' </when>
            </choose>
        </if>
    </select>

    <select id="doRetrieveUserList" parameterType="com.pcwk.ehr.cmn.DTO" resultType="com.pcwk.ehr.user.domain.UserVO">
        SELECT * FROM (
            SELECT ROWNUM AS rnum, A.* FROM (
                SELECT user_id as userId, nickname, admin_chk as adminChk
                FROM users WHERE 1=1
                <if test="searchWord != null and searchWord != ''">
                    <choose>
                        <when test="searchDiv == '10'"> AND user_id LIKE '%' || #{searchWord} || '%' </when>
                        <when test="searchDiv == '20'"> AND nickname LIKE '%' || #{searchWord} || '%' </when>
                    </choose>
                </if>
                ORDER BY user_id ASC
            ) A WHERE ROWNUM <![CDATA[ <= ]]> (#{pageNo} * #{pageSize})
        ) WHERE rnum <![CDATA[ > ]]> ((#{pageNo} - 1) * #{pageSize})
    </select>

    <select id="getUserTotalCount" resultType="int">
        SELECT COUNT(*) FROM users WHERE 1=1
    </select>

      <select id="doRetrieveDiaryList" parameterType="com.pcwk.ehr.cmn.DTO" resultType="com.pcwk.ehr.diary.domain.DiaryVO">
          SELECT * FROM (
              SELECT ROWNUM AS rnum, A.* FROM (
                  SELECT 
                      diary_sid as diarySid, 
                      reg_id as regId, 
                      diary_title as diaryTitle, 
                      diary_content as diaryContent,  diary_status as diaryStatus
                  FROM diary WHERE 1=1
                  <if test="searchWord != null and searchWord != ''">
                      <choose>
                          <when test="searchDiv == '10'"> AND diary_title LIKE '%' || #{searchWord} || '%' </when>
                          <when test="searchDiv == '20'"> AND reg_id LIKE '%' || #{searchWord} || '%' </when>
                      </choose>
                  </if>
                  ORDER BY diary_sid DESC
              ) A WHERE ROWNUM <![CDATA[ <= ]]> (#{pageNo} * #{pageSize})
          ) WHERE rnum <![CDATA[ > ]]> ((#{pageNo} - 1) * #{pageSize})
      </select>

    <select id="getDiaryTotalCount" resultType="int">
        SELECT COUNT(*) FROM diary WHERE 1=1
    </select>

    <delete id="doDeleteUser" parameterType="com.pcwk.ehr.user.domain.UserVO">
        DELETE FROM users WHERE user_id = #{userId}
    </delete>
    <delete id="doDeleteReport" parameterType="com.pcwk.ehr.report.domain.ReportVO">
        DELETE FROM report WHERE report_sid = #{reportSid}
    </delete>
    <delete id="doDeleteDiary" parameterType="com.pcwk.ehr.diary.domain.DiaryVO">
        DELETE FROM diary WHERE diary_sid = #{diarySid}
    </delete> 
      <delete id="doDeleteComment" parameterType="com.pcwk.ehr.report.domain.ReportVO">
          /* 명언/일기 통합 댓글 삭제: 대댓글(parent_sid)까지 한 번에 삭제 */
          DELETE FROM COMMENTS 
          WHERE comment_sid = #{commentSid} 
             OR parent_sid = #{commentSid}
      </delete>

</mapper>